.register-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.register-title{
    font-size: 2em;
    color: #FEFFF5;
    margin-top: 1px;
  }

.register-form {
    text-align: center;
    padding: 20px;
    background-color: #212121;
    border: 1px #756AC9 solid;
    border-radius: 10px;
}

.register-form label {
    display: block;
    color: #756AC9;
    margin-bottom: 8px;
}

.register-form input {
    width: 90%;
    padding: 8px;
    background-color: #212121;
    border: 1px #FEFFF5 solid;
    border-radius: 3px;
    margin-bottom: 16px;
}

.register-form button {
    width: 100%;
    border-radius: 3px;
    color: #FEFFF5;
    background-color: #212121;
    border: 3px #756AC9 solid;
    font-size: 1em;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}

.register-form button:hover{
    color: #212121;
    background-color: #756AC9;
    transition:  0.25s ease;
}

.register-form p{
    font-weight: bold;
    color: #FEFFF5;
    margin-top: 1em;

  }
