.events-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.events-card-container {
    flex-grow: 1;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1024px) {

    .events-container {
        max-width: 100%;
        overflow-x: hidden;
    }

    .events-card-container {
        max-width: 100%;
        overflow-x: hidden;
    }
}

@media (max-width: 768px) {

    .events-container {
        max-width: 100%;
        overflow-x: hidden;
    }

    .events-card-container {
        max-width: 100%;
        overflow-x: hidden;
    }
}

@media (max-width: 480px) {

    .events-container {
        max-width: 100%;
        overflow-x: hidden;
    }

    .events-card-container {
        max-width: 100%;
        overflow-x: hidden;
    }

}
